@font-face {
    font-family: "Anta";
    src: url("../assets/font/Anta-Regular.ttf") format("truetype");
}

:root {
  --FontSize: 5em;

  --px12: 0.75em;
  --px6: 0.37em;
  --px3: 0.18em;

  --px50: 3.12em;
  --px25: 1.56em;
}

.light {
  --ColorTheme: #8FD0EF;
  --ColorBackground: #ffffff;
  --ColorText: #000000;
  --ColorFooter: #A8A8A8;
}

.dark {
  --ColorTheme: #867C9F;
  --ColorBackground: #212558;
  --ColorText: #ffffff;
  --ColorFooter: #565656;
}

body {
  background-color: var(--ColorBackground);
  color: var(--ColorText);
  margin: 0em;
  font-family: "Anta";
}

h1,
p,
a {
  margin: 0;
}

button {
  font-family: "Anta";
}