@font-face {
    font-family: "Anta";
    src: url("../assets/font/Anta-Regular.ttf") format("truetype");
}

:root {
  --FontSize: 5em;
}

.light {
  --ColorTheme: #8FD0EF;
  --ColorBackground: #ffffff;
  --ColorText: #000000;
}

.dark {
  --ColorTheme: #867C9F;
  --ColorBackground: #212558;
  --ColorText: #ffffff;
}

body {
  background-color: var(--ColorBackground);
  color: var(--ColorText);
  margin: 0em;
  font-family: "Anta";
}

/* 683 */